Synapse/pipeline/pl_ecdc_pipeline.json
{
	"name": "pl_ecdc_final",
	"properties": {
		"activities": [
			{
				"name": "ac_copy_ecdc_cases_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_t6x",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "@variables('casesSourceURL')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_t6x",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('casesSinkFile')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ac_ecdc_cases_sink",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ac_copy_ecdc_cases_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_cases_deaths",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ac_copy_ecdc_hospital_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "country",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "country",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "indicator",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "indicator",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "date",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "year_week",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "year_week",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "value",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "source",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "source",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "url",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "url",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SourceDataset_t6x",
						"type": "DatasetReference",
						"parameters": {
							"relativeURL": {
								"value": "@variables('hospitalsSourceURL')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DestinationDataset_t6x",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@variables('hospitalSinkFile')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ac_ecdc_hospital_sink",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "ac_copy_ecdc_hospital_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_hospitals_icus",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ac_db_ecdc_cases_prc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_ecdc_cases_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ecdc.covid19_external_cases_to_db_prc]"
				},
				"linkedServiceName": {
					"referenceName": "ls_synapseSql",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ac_db_ecdc_hospital_prc",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ac_ecdc_hospital_sink",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ecdc.covid19_external_hospitals_to_db_prc]"
				},
				"linkedServiceName": {
					"referenceName": "ls_synapseSql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"casesSourceURL": {
				"type": "String",
				"defaultValue": "covid19/nationalcasedeath/csv/data.csv"
			},
			"casesSinkFile": {
				"type": "String",
				"defaultValue": "cases_deaths.csv"
			},
			"hospitalsSourceURL": {
				"type": "String",
				"defaultValue": "covid19/hospitalicuadmissionrates/csv/data.csv"
			},
			"hospitalSinkFile": {
				"type": "String",
				"defaultValue": "hospital_icu.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-02T09:56:20Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}